html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
img { border:none; }
img{display: block;}
i{font-style: normal}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none;} 
body { font-size:12px;background: #f4f4f4}
a {text-decoration:none;color: #000;font-size: 12px;}


.topWrap{
    width:100%;
    height: 90px;
    background: #fff;
}
.top{
    width:1190px;
    height: 90px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.top img{
    position: absolute;
    top:30px;
}

.mainWrap,.main{
    height: 805px;
    margin: 0 auto;
    background: url(../images/bg3.jpg) no-repeat top center;
}
.main{
    width: 1190px;
    position: relative;
}
.main img{
    width: 100%;
    height: 100%;
}
.main .content{
    padding:0 30px;
    width:300px;
    height: 380px;
    background: #fff;
    position: absolute;
    right:30px;
    top:115px;
    font-size: 14px;
}
.content p{
    margin-top: 28px;
    font-size: 16px;
}
.content input{
    width: 298px;
    height: 28px;
    margin:36px 0 0 0;
    border: none;
    border: 1px solid #cbcbcb;
    text-indent: 30px;
    outline: none;
}
.content input:nth-of-type(2){
    margin-top:15px;
}
.content .a,.b{
    width: 20px;
    height: 20px;
    position: relative;
    left: 5px;
    top:-25px; 
}
/* .content .a{
    top:-45px
} */
.content .a{
    background: url(../images/login.png) no-repeat 0 -20px;
}
.content .b{
    background: url(../images/login.png) no-repeat 0 0;
}
.main #login{
    border: none;
    width:300px;
    height: 40px;
    background: #989898;
    color: #fff;
    font-size: 16px;
    text-indent: 0px;
    margin-top:20px
}
.content>a{
    display: block;
    color: #989898;
    margin-top:-5px;
}
.content>a:hover{
    color:red;
}
.content .loop{
    width: 300px;
    height: 50px;
}
.content .loop .ra{
    float: left;
    width: 24px;
    height: 24px;
    margin:13px 10px 0 0;
    cursor: pointer;
}
.content .loop .c{
    background: url(../images/login.png) no-repeat -56px 0;
}
.content .loop .c:hover{
    background: url(../images/login.png) no-repeat right 0;
}
.content .loop .d{
    background: url(../images/login.png) no-repeat -56px -24px;
}
.content .loop .d:hover{
    background: url(../images/login.png) no-repeat right -24px;
}
.content .loop .e{
    background: url(../images/login.png) no-repeat -56px -48px;;
}
.content .loop .e:hover{
    background: url(../images/login.png) no-repeat right -48px;;
}
.content .loop span{
    line-height: 50px;
    font-size: 12px;
    margin-left: 60px;
    color:#989898
}
.content .loop span i{
    display: inline-block;
    border:5px solid #000;
    border-color: transparent transparent transparent red;
}
.content .loop span a{
    color: red;
}
.content .loop span a:hover{
    text-decoration: underline;
}
.content .ss{
    font-size: 12px;
    position: absolute;
    top:120px;
    left:40px;
   
}
.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #cbcbcb;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top:92px;
    right: 40px;
    visibility: hidden;
    cursor: pointer;
}
.content .circle:nth-of-type(2){
    top:158px;
}










.footerBWrap{
    width: 100%;
    height: 102px;
    background: #000;
}
.footerB{
    width: 1190px;
    height: 102px;
    margin: 0 auto;
    background: #000;
    background: url(../images/police.png) no-repeat 165px 30px;
    
    position: relative;
}
.footerB .txt{
    width: 710px;
    height: 40px;
    position: absolute;
    top:30px;
    left: 200px;
    font-size: 14px;
    
}
.footerB a{
    margin-left:45px;
    font-size: 13px;
    color:#6e6e6e;
}
.footerB a:nth-child(1){
    margin-left:0;
}
.footerB p{
    color: #fff;
    margin-top:5px;
    text-align: center;
    color: #6e6e6e;
}
.footerB img{
    position: absolute;
    right:120px;
    top:30px;
}