html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
img { border:none; }
img{display: block;}
i{font-style: normal}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none;} 
body { font-size:12px;background: #f4f4f4}
a {text-decoration:none;color: #fff;font-size: 12px;}



.topWrap{
    width:100%;
    height: 90px;
    background: #fff;
}
.top{
    width:1190px;
    height: 90px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.top img{
    position: absolute;
    top:30px;
}
.top p{
    font-size:18px;
    position: absolute;
    top:40px;
    left:260px;
}
.top a{
    color:#000
}
.top a:hover{
    color:#f80502
}
.top span{
    color: #6e6e6e;
    position: absolute;
    right: 0;
    top: 30px;
}
.sanjiao{
    display:inline-block;
    border :5px solid #000;
   border-color: transparent transparent transparent #000;  
}





/* main */

.mainWrap,.main{
    height: 805px;
    margin: 0 auto;
    background: url(../images/bg2.jpg) no-repeat center;
}
.main{
    width: 1190px;
    position: relative;
}
.main img{
    width: 100%;
    height: 100%;
    
}
.main .content{
    width:730px;
    height: 390px;
    position: relative;
    left:120px;
    top:50px;
    font-size: 14px;
    
}
.main input{
    width: 298px;
    height: 30px;
    margin:36px 0 0 0;
    border: none;
    border: 1px solid #cbcbcb;
    text-indent: 20px;
    outline: none;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}
.main .topnone{
    margin-top:0;
}
.main #register{
    border: none;
    width:300px;
    height: 30px;
    background: #989898;
    color: #fff;
    margin-left:103px;
    text-indent: -20px;
}
.main i{
    display: inline-block;
    width: 100px;
    text-align: center;
}

.main .huoqu{
    display: inline-block;
    width: 120px;
    height: 30px;
    color:#fff;
    background: #989898;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
}
.main .rand{
    display: inline-block;
    width: 120px;
    height: 30px;
    background: url(../images/rand.jpg) no-repeat;
    position: absolute;
    margin-left: 20px;
    
}
.content>a{
    display: inline-block;
    margin-top:5px;
    color: #6e6e6e;
    padding-left: 80px;
}
.content>a:nth-of-type(1){
    text-indent: 25px;
}
.content>a:hover{
    color: #f80502;
    text-decoration: underline;
    outline: #f80502;
}
.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #cbcbcb;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-left: -30px;
    visibility: hidden;
    cursor: pointer;
}
.content .s{
    display: block;
    position: absolute;
    text-indent: 120px;  
}
.content .check{
    width: 10px;
    height: 10px;
    display: inline-block
}




.footerBWrap{
    width: 100%;
    height: 102px;
    background: #000;
}
.footerB{
    width: 1190px;
    height: 102px;
    margin: 0 auto;
    background: #000;
    background: url(../images/police.png) no-repeat 165px 30px;
    
    position: relative;
}
.footerB .txt{
    width: 710px;
    height: 40px;
    position: absolute;
    top:30px;
    left: 200px;
    font-size: 14px;
    
}
.footerB a{
    margin-left:45px;
    font-size: 13px;
    color:#6e6e6e;
}
.footerB a:nth-child(1){
    margin-left:0;
}
.footerB p{
    color: #fff;
    margin-top:5px;
    text-align: center;
    color: #6e6e6e;
}
.footerB img{
    position: absolute;
    right:120px;
    top:30px;
}