 a{
     color:#898989
 }
 .main{
     width: 1190px;
     margin: 0 auto;
     position: relative;
 }
 .list a{
     color:#898989;
 }
 .list .shadow{
    display: block;
    width: 240px;
    box-shadow: 0 0 5px #ccc;
    background: #fefefe;
    position: absolute; 
    top: 0;
    z-index: 10;
    display: none;
}
.list li{
    width: 240px;
    height: 60px; 
    border-bottom: 1px solid #f4f4f4;
}   
.list li .listA{
    position: relative;
    top: 10px;
    left: 15px;
    display: block;
    font-size: 14px;
    color:#000;
}
   .list .listB,.listC{
    line-height: 44px;
    text-indent: 15px;
    margin-left: 15px;
    font-size: 12px;
    color:#898989;
}
   .list .listC{
    margin-left:6px;
}
   .list li>a:hover{
    color: #ed0300;
}

.shadow .listTwo{
    width: 886px;
    height: 486px;
    position: absolute;
    top:0;
    left: 240px;
    background: #fff;
    box-shadow: 0 0 3px #b8b7b7;
    z-index: 3;
    padding: 32px;
    display: none;
}
.listTwo .listTwo_left{
    width: 600px;
    height: 518px;
    float: left;
}
.listTwo .listTwo_left .tit{
    width: 600px;
    height: 57px;
    
    margin-bottom:20px;
    border-bottom: 1px solid #ccc;
}
.listTwo .listTwo_left .tit h3{
    font-weight: normal;
    font-size: 18px;
}
.listTwo .listTwo_left .listTwo_list{
    width: 600px;
    height: 350px;
}
.listTwo_list>ul{
    width: 160px;
    min-height: 200px;
    float: left;
    margin-right: 40px;
   
}
.listTwo_list>ul>a{
    display:inline-block;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.listTwo_list>ul .div1>a{
    display: inline-block;
     margin-right:10px;
    color: #898989;
    margin-top:5px;
    white-space: nowrap;
  
}
.listTwo_list>ul .div1 a:hover{
    color:#ed0300
}
.listTwo_list>ul>a:nth-of-type(1){
    margin-top: 0;
}
.shadow .listTwo .listTwo_bottom{
    width: 576px;
    height: 60px;
    position: absolute;
    bottom: 30px;
}
.shadow .listTwo .listTwo_bottom li{
    float: left;
    width: 144px;
    height: 60px;
} 

 .listTwo .listTwo_right{
    float: right;
}



/* clearfix */

.main .clearfix{
    width: 1190px;
    height: 1000px;
    margin: 0 auto;
}
.clearfix .topList{
    height: 68px;
}
.topList li{
    color: #898989;
    float: left;
    margin-right: 7px;
    line-height: 68px;
}
.topList li a{
    margin-right: 7px;
}
.topList li a:hover{
    color:red;
    text-decoration: underline;
}

.clearfix .picList{
    width: 320px;
    height: 400px;
    float: left;
    position: relative;
}
.clearfix .cen{
    width: 320px;
    height: 320px;
    background: #ccc;
 
}
.clearfix .cen li{
    position: absolute;
}
.clearfix .cen img{
    width: 320px;
    height: 320px;
}
.clearfix .lt,.gt{
    width: 35px;
    height: 50px;
    position: absolute;
    font-size: 30px;
    font-family: "宋体";
    line-height: 50px;
    text-align: center;
    color: #b8b7b7;
    cursor: pointer;
}
.clearfix .lt{
  top:340px;
}
.clearfix .gt{
    left:280px;
    top:340px;
    
}
.clearfix .small{
    margin-left: 40px;
    overflow: hidden;
    position: relative;
}
.clearfix .small li{
    float: left;
    margin: 20px 0 0 20px;
    position: relative;
    opacity: 0.3;
}
.clearfix .small .border{
    border:1px solid #666;
    opacity: 1;
}
/* 遮罩 */
.opacity{
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 0;
    opacity: .4;
}
/* .toum{
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 0;
    opacity: 1; 
} */
.clearfix .txt{
    width: 830px;
    height: 290px;
    float: right;
}
.clearfix .txt .txt_top{
    width: 830px;
    height: 69px;
    border-bottom: 1px solid #ccc;
}
.clearfix .txt .txt_top img{
    float: right;
}
.clearfix .txt h2{
    font-size: 20px;
    font-weight: normal;

}
.clearfix .txt p:nth-of-type(1){
    font-size: 14px;
}
.clearfix .txt p:nth-of-type(2){
    font-size: 10px;   
    line-height: 30px;  
    color: #898989;
}
.clearfix .txt .txt_cen{
    height: 100px;
    border-bottom: 1px solid #ccc
}
.clearfix .txt .txt_cen p:nth-of-type(1){
    float: left;
    line-height: 60px;
    font-size: 10px;
    color: #898989;
}
.clearfix .txt .txt_cen .price{
    display: inline-block;
    font-size: 22px;
    color: #e00;
    line-height: 55px;
    text-indent: 40px;
}
.clearfix .txt .txt_cen .price i{
    font-size: 16px;
}
.clearfix .txt .txt_cen .new{
    display: inline-block;
    color: #fff;
    background: red;
    width: 36px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-left:40px;
}
.clearfix .txt .txt_cen .green{
    background: #2cbeff;
    margin-left: 10px;
}
.clearfix .txt .txt_cen p:nth-of-type(2){
    float: left;
    clear: both;
    margin-top:-10px;  
}
.clearfix .txt .txt_cen .manz{
    display: inline-block;
    width: 36px;
    height: 18px;
    border: 1px solid red;
    background: #fff;
    color: #e00;
    text-align: center;
    line-height: 18px;
    margin-left: 40px;
}
.clearfix .txt .txt_cen p:nth-of-type(3){
    margin-left: 120px;
}
.clearfix .txt .txt_bot{
    position: relative;
}
.clearfix .txt .txt_bot p{
    float: left;
    line-height: 60px;
    font-size: 10px;
    color: #898989;
}
.clearfix .txt .txt_bot .ml{
    display:inline-block;
    width: 36px;
    height: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    text-align: center;
    line-height: 26px;
    margin:20px 0 0 42px;
    cursor: pointer;
}
.clearfix .txt .txt_bot .taozhuang{
    display: inline-block;
    width: 28px;
    height: 24px;
    border: 2px solid #ccc;
    margin: -2px 0 0 10px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.clearfix .txt .txt_bot input:nth-of-type(1){
    height: 39px;
    line-height: 39px;
    width: 48px;
    border:none;
    border:1px solid #ccc;
    margin:20px 0 0 42px;
    font-size: 16px;
    text-align: center;
}
.clearfix .txt .txt_bot #join{
    width: 175px;
    height: 42px;
    background: #e00;
    color: #fff;
    border: none;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    margin-left:30px;
}
.clearfix .txt .txt_bot .v,#vv{
    display:inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer; 
    font-size: 14px;
    color: #000;
    border:1px solid #b8b7b7;
    position: absolute;
    left: 115px;
    top:69px;
   
    font-weight: bold;
}
.clearfix .txt .txt_bot #vv{
   position: absolute;
   top:90px;
}

.clearfix #big{
    width: 320px;
    height: 320px;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    left: 330px;
    top: 68px;
    display: none;
    background: #ccc;
}
.clearfix #big #bigImg{
    position: absolute;
    width: 640px;
    height: 640px
}
.clearfix .mask{
    width: 160px;
    height: 160px;
    background: #ccc;
    position: absolute;
    opacity: .3;
    display: none;
    box-shadow: 0 0 6px #000;
}